/* Fixes
   ========================================================================== */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Main
   ========================================================================== */
body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Header
   ========================================================================== */
header {
  background: #efefef;
  font-size: 1.25rem;
  line-height: 2.5em;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

header h1,
header nav,
header nav li {
  float: left;
}

header h1 {
  margin: 0;
  font-size: inherit;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav li {
  display: block;
}

header a,
header button {
  display: block;
  padding: 0 1em;
  text-decoration: inherit;
  color: inherit;
}

header button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font: inherit;
}

/* Lists
   ========================================================================== */
.projects-list {
  padding: 0.5em 0 0 0.5em;
}

.projects-list li {
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
}

.projects-list a {
  display: block;
  padding: 1em;
  width: 16em;
  height: 8em;
  background: #900;
  text-decoration: inherit;
  color: white;
  transition: 100ms;
}

.projects-list a:hover {
  opacity: 0.75;
}

.projects-list:after {
  content: "";
  display: block;
  clear: both;
}

/* Form
   ========================================================================== */
button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 1000px;
  background: orange;
  font-size: 1em;
}

.btn-open-form {
  display: block;
  margin: auto;
  font-size: 1.5em;
}

form {
  position: fixed;
  top: 10%;
  right: 5%;
  bottom: 10%;
  left: 5%;
  margin: auto;
  padding: 1em;
  background: #efefef;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
}

form li {
  display: block;
  margin: 0.5em 0;
}

form label {
  display: inline-block;
  min-width: 10em;
}

form input,
form textarea {
  padding: 0.25em;
  border: solid grey;
  background: white;
  font-size: 1em;
}
