{{ss-user-story-form target=this}}

<ol>
  {{#each model as |userStory|}}
    <li>
      <strong>
        {{#link-to 'project.user-stories.user-story' userStory.id}}
          {{userStory.name}}
        {{/link-to}}
      </strong>
    </li>
  {{/each}}
</ol>

{{outlet}}
