<header>
  <h1 id="title">
    {{#link-to 'index'}}SmallScrum{{/link-to}}
  </h1>

  {{#if session.isAuthenticated}}
    <nav>
      <ul>
        <li>
          <button {{action 'logout'}}>Logout</button>
        </li>
      </ul>
    </nav>
  {{/if}}
</header>

<main>
  {{outlet}}
</main>
