{{ss-project-form target=this}}

<ol class="projects-list">
  {{#each model as |project|}}
    <li>
      <strong>
        {{#link-to "project" project.slug}}
          {{project.name}}
        {{/link-to}}
      </strong>
    </li>
  {{/each}}
</ol>
