<h2>{{model.name}}</h2>
{{ss-project-form project=model target=this}}

<nav>
  <ul>
    <li>
      {{#link-to 'project.user-stories' model.slug}}
        User stories
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'project.support-tickets' model.slug}}
        Support tickets
      {{/link-to}}
    </li>
  </ul>
</nav>
{{outlet}}
